name: Census Project CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy==2.3.4
          pip install -r starter/requirements.txt
          pip install flake8 pytest

      - name: Lint with flake8
        run: |
          flake8 starter --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 starter --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run PyTest
        run: |
          pytest starter/starter/tests --maxfail=1 --disable-warnings -q
